# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environment
.env

# Virtual environment
venv/
venv
env/
*.venv

# IDE
.vscode/
.idea/
*.swp
